Source: localehelper
Section: utils
Priority: extra
Maintainer: Jonathan Ulrich Horn <debian@autoit4you.de>
Build-Depends: debhelper (>= 9),
				perl(>=5.10),
				libperl-minimumversion-perl,
				libperl-critic-perl,
				locales
Standards-Version: 3.9.6
Homepage: http://jwilk.net/software/localehelper
Vcs-Git: git://github.com/autoit4you/debian-localehelper.git
Vcs-Browser: https://github.com/autoit4you/debian-localehelper

Package: localehelper
Architecture: all
Depends: ${misc:Depends},
		${perl:Depends},
		locales
Description: Locale helper tool
 Localehelper is a helper tool for working with locales.
 It can generate locales and (un)set environmental variables
 for internationalization purposes.

