#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	$(MAKE) --directory=doc all

override_dh_auto_clean:
	$(MAKE) --directory=doc clean

override_dh_auto_test:
	ifeq (, $(filter nocheck, $(DEB_BUILD_OPTIONS)))
		prove --verbose
	endif
