Package: localehelper
Version: 0.1.4-1
Architecture: all
Maintainer: Jonathan Ulrich Horn <debian@autoit4you.de>
Installed-Size: 48
Depends: perl
Section: utils
Priority: extra
Homepage: http://jwilk.net/software/localehelper
Description: A helper tool for generating locales and setting internationalization environment variables
 Localehelper is a tool for generating locales and (un)setting internationalization environment variables.
